<a href="https://colab.research.google.com/github/JinwangMok/UNI_data_anaysis/blob/main/preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üìò Preprocessing.ipynb

>## Information
>
>> Semester : `2022ÎÖÑ 1ÌïôÍ∏∞`
>>
>> Class : `Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑù Ïù¥Î°† Î∞è Ïã§Ïäµ`
>>
>> Team : `Ïû•Î∞îÍµ¨Îãà`
>>
>> Author : `Î™©ÏßÑÏôï`

```
Î≥∏ ÎÖ∏Ìä∏Î∂ÅÏùÄ Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑùÏóê ÏïûÏÑú ÏõêÎ≥∏ Îç∞Ïù¥ÌÑ∞Î•º Í∞ÄÍ≥µÌïòÎäî Ï†ÑÏ≤òÎ¶¨(preprocessing) Îã®Í≥ÑÏóê ÎåÄÌïú ÎÇ¥Ïö©ÏûÖÎãàÎã§.
```

> ## Preview
> 
>> #### üóÉ Í∞úÏöî
>> Ï†ÄÌù¨ `Ïû•Î∞îÍµ¨Îãà` Ï°∞Îäî `ÎÇ†Ïî®üå§ÏôÄ ÎÜç¬∑ÏûÑÏÇ∞Î¨ºÏùò Í∞ÄÍ≤© Î∞è ÏÉùÏÇ∞ÎüâÏùò ÏÉÅÍ¥ÄÍ¥ÄÍ≥Ñ`Î•º Ï£ºÏ†úÎ°ú Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑùÏùÑ ÏßÑÌñâÌñàÏäµÎãàÎã§.
>> 
>> Ï†ÄÎäî Î®ºÏ†Ä __`ÎÇ†Ïî®(Í∞ïÏàòÎüâ, Í∏∞Ïò®, ÏßÄÎ©¥Ïò®ÎèÑ)Ïóê Îî∞Îùº Î≥µÎ∂ÑÏûêÏùò Í∞ÄÍ≤©Ïù¥ Î≥ÄÎèôÌï† Í≤ÉÏù¥Îã§.`__ÎùºÍ≥† ÏÉùÍ∞ÅÌï¥Î≥¥ÏïòÏäµÎãàÎã§. 
>>
>>
>>> üìÑÏ∞∏Í≥†ÏûêÎ£å
>>>
>>> <a href="https://folkency.nfm.go.kr/kr/topic/detail/7680"><img src="https://folkency.nfm.go.kr/upload/img/20190304/20190304123721_w_.jpg" alt="Î≥µÎ∂ÑÏûê-ÌïúÍµ≠ÎØºÏÜçÎåÄÎ∞±Í≥ºÏÇ¨Ï†Ñ" width="160" height="96"></a>
>>> 
>>> üîó[ÎÜçÏ¥åÏßÑÌù•Ï≤≠ Î≥µÎ∂ÑÏûêÏùò ÏÉÅÏÑ± Î∞è Í≤ΩÏ¢ÖÍ∏∞Ïà† Î¨∏ÏÑú](http://www.nongsaro.go.kr/portal/ps/psb/psbk/kidoContentsFileView.mo?kidofcomdtyNo=26627)
>> 
>> Ïù¥ÌõÑ Ï°∞ÏÇ¨Ìïú Í≤∞Í≥º ÏúÑ Î¨∏ÏÑúÏóê Îî∞Î•¥Î©¥ Î≥µÎ∂ÑÏûêÎäî Îã§ÏùåÍ≥º Í∞ôÏùÄ ÌäπÏÑ±ÏùÑ Í∞ÄÏßÄÍ≥† ÏûàÏäµÎãàÎã§.
>> ```
>> [ÏãùÎ¨º ÌòïÌÉú]
>> 5ÔΩû6ÏõîÏóê ÍΩÉÏù¥ ÌîºÎ©∞, ÏÇ∞Î∞©ÌôîÏÑúÍ∞Ä Í∞ÄÏßÄ ÎÅùÏóê Îã¨Î¶∞Îã§. 
>> ÍΩÉÎ∞õÏπ®ÏûéÏùÄ ÎÇúÏÉÅ ÌîºÏπ®ÌòïÏù¥Î©∞ ÍΩÉÏûéÏùÄ ÍΩÉÎ∞õÏπ®Î≥¥Îã§ ÏßßÍ≥† ÎèÑÎÇúÌòïÏúºÎ°ú Ïó∞Ìïú ÌôçÏÉâÏù¥Îã§. ÍΩÉÍ≥º ÍΩÉÎ∞õÏπ®Ïûé, ÏûêÎ∞©Ïóê ÌÑ∏Ïù¥ ÏûàÎã§. 
>> Ïó¥Îß§Îäî Îë•Í∏ÄÍ≥† 7ÔΩû8ÏõîÏóê Ï†ÅÏÉâÏúºÎ°ú ÏùµÏßÄÎßå ÎÇòÏ§ëÏóêÎäî ÌùëÏÉâÏúºÎ°ú ÎêúÎã§.
>>
>> [Ïû¨Î∞∞ÌôòÍ≤Ω]
>> Í∏∞ÌõÑ : Î≥µÎ∂ÑÏûêÎî∏Í∏∞Îäî Ïû•ÎØ∏Í≥º ÏãùÎ¨ºÎ°ú Ï§ÑÍ∏∞Ïùò Ïàò(È´ì)Í∞Ä 60ÔΩû90%Î•º Ï∞®ÏßÄÌïòÍ≥† ÏûàÏñ¥ Í≤®Ïö∏Ï≤†Ïóê Í∞ÄÏßÄÍ∞Ä ÎèôÏÇ¨ÏôÄ Í±¥Ï°∞ÏÇ¨ÌïòÎäî Í≤ΩÏö∞Í∞Ä ÎßéÎã§. 
>> Í≤®Ïö∏Ï≤† ÏùºÍµêÏ∞®Í∞Ä Ïã¨ÌïòÎ©¥ ÎÇÆ ÎèôÏïàÏóêÎäî ÏÉÅÎåÄÏäµÎèÑÍ∞Ä ÎÇÆÏïÑÏßÄÎ©¥ÏÑú Ï§ÑÍ∏∞Ïùò ÏÉÅÏ≤òÎ∂ÄÏúÑÎ•º ÌÜµÌï¥ÏÑú ÏàòÎ∂ÑÏù¥ ÏàòÌÉàÎêòÏó¨ Í±¥Ï°∞Ìï¥Î•º ÏûÖÏùÑ Ïàò ÏûàÎã§.
>> ÌÜ†Ïñë : ÎøåÎ¶¨Îäî ÏßÄÌëú 30„éù Ïù¥ÎÇ¥Ïóê ÎåÄÎ∂ÄÎ∂Ñ Î∂ÑÌè¨ÎêòÏñ¥ ÏûàÍ≥†, ÏóºÎ•òÏóê ÏïΩÌï† ÎøêÎßå ÏïÑÎãàÎùº ÏäµÌï¥Ïóê Ïûò Í≤¨ÎîîÏßÄ Î™ªÌïòÎØÄÎ°ú Ïû¨Î∞∞Ï†ÅÏßÄÎäî ÏßÄÌïòÏàòÏúÑÍ∞Ä ÎÇÆÍ≥†, 
>> ÌÜ†Ïã¨Ïù¥ ÍπäÏúºÎ©∞ Î¨ºÎπ†ÏßêÏù¥ Ï¢ãÍ≥†, Í≥µÍ∏∞Ïùò Ïú†ÌÜµÏù¥ ÏûòÎêòÎäî ÏñëÌÜ† Î∞è ÏÇ¨ÏñëÌÜ†Î°úÏÑú Ïú†Í∏∞Î¨ºÏù¥ ÌíçÎ∂ÄÌïú ÌÜ†ÏñëÏù¥Ïñ¥Ïïº ÌïúÎã§. 
>> ```
>---
>---
>> #### ‚úçüèº Í∞ÄÏÑ§
>> Ïù¥Ïóê Îî∞Îùº ÏÑ∏ÏõåÎ≥∏ Í∞ÄÏÑ§ÏùÄ ÏïÑÎûòÏôÄ Í∞ôÏäµÎãàÎã§.
>>> 1Ô∏è‚É£
>>> 
>>> Í≤®Ïö∏Ï≤†(12~1Ïõî) ÏùºÍµêÏ∞®Ïóê Îî∞Îùº Î≥µÎ∂ÑÏûê ÏÉùÏÇ∞ÎüâÏù¥ Í∞êÏÜåÌï† Í≤ÉÏúºÎ°ú ÏòàÏÉÅÎêòÎØÄÎ°ú ÌíàÍ∑Ä ÌòÑÏÉÅÏù¥ Î∞úÏÉùÌï¥ Í∞ÄÍ≤©Ïù¥ ÏÉÅÏäπÌï† Í≤ÉÏù¥Îã§.
>>
>>> 2Ô∏è‚É£  
>>>
>>> Í≤®Ïö∏Ïù¥ ÏßÄÎÇòÍ≥† 3ÏõîÎ∂ÄÌÑ∞ ÏàòÌôïÏ≤†Ïù∏ 8ÏõîÍπåÏßÄÏùò ÏßÄÎ©¥ 30cm Ïò®ÎèÑÍ∞Ä ÎÜíÏùÑ ÏàòÎ°ù ÎÇÆÍ≥º Î∞§Ïùò ÏùºÍµêÏ∞®Î°ú Ïù∏Ìïú ÏäµÎèÑÍ∞Ä Ï¶ùÍ∞ÄÌï† Ïàò ÏûàÏúºÎØÄÎ°ú Í≥ºÏã§Ïùò ÌíàÏßàÏù¥ Îñ®Ïñ¥Ï†∏ Í∞ÄÍ≤©Ïù¥ ÌïòÎùΩÌï† Í≤ÉÏù¥Îã§.
>>
>>> 3Ô∏è‚É£
>>> 
>>> 2Î≤àÍ≥º ÎèôÍ∏∞Í∞ÑÏóê ÎèôÏùºÌïú Ïù¥Ïú†Î°ú Í∞ïÏàòÎüâÏù¥ Ï¶ùÍ∞ÄÌïòÎ©¥ Í≥ºÏã§Ïùò ÌíàÏßàÏù¥ Îñ®Ïñ¥Ï†∏ Í∞ÄÍ≤©Ïù¥ ÌïòÎùΩÌï† Í≤ÉÏù¥Îã§.
>>
>---
>---
>
>> #### üöÄ Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤òÎ¶¨
>> Î≥∏ ÌîÑÎ°úÏ†ùÌä∏Ïóê ÏÇ¨Ïö©Ìï† ÏõêÎ≥∏ Îç∞Ïù¥ÌÑ∞Îäî Îã§ÏùåÍ≥º Í∞ôÏäµÎãàÎã§.
>>> 1. ‚òÄÔ∏è [Í∏∞ÏÉÅÏ≤≠ ÏßÄÏÉÅ(Ï¢ÖÍ¥Ä, ASOS) ÏùºÏûêÎ£å Ï°∞ÌöåÏÑúÎπÑÏä§](https://www.data.go.kr/tcs/dss/selectApiDataDetailView.do?publicDataPk=15059093)
>>>
>>> 2. üçÑ [ÌïúÍµ≠ÏûÑÏóÖÏßÑÌù•Ïõê_ÏùºÏùº ÏûÑÏÇ∞Î¨º ÎèÑÎß§ÏãúÏû•Í∞ÄÍ≤©](https://www.data.go.kr/data/15020663/fileData.do)
>>>
>>> ```
>>> ASOS Í∏∞ÏÉÅ Îç∞Ïù¥ÌÑ∞Ïùò Í≤ΩÏö∞ Ï†ÑÏßÄÏó≠ÏùÑ Îã§Î£®Î©¥ Îç∞Ïù¥ÌÑ∞Ïùò ÏñëÏù¥ ÌïÑÏöî Ïù¥ÏÉÅÏúºÎ°ú Î∞©ÎåÄÌïòÍ≥† Ï†ïÌôïÎèÑÍ∞Ä Îñ®Ïñ¥Ïßà Ïàò ÏûàÍ∏∞ ÎïåÎ¨∏Ïóê
>>> Íµ≠ÎÇ¥ Î≥µÎ∂ÑÏûêÏùò Ï£ºÏöî ÏÉùÏÇ∞ ÏßÄÏó≠Ïù∏ "Í≥†Ï∞Ω", "Ï†ïÏùç", "ÏàúÏ∞Ω" Ïù¥ÏÉÅ ÏÑ∏ ÏßÄÏó≠Ïùò Í∏∞ÏÉÅ Ï†ïÎ≥¥ÎßåÏùÑ ÌôúÏö©Ìï©ÎãàÎã§.
>>> ```
>>
>> ÏúÑ Îç∞Ïù¥ÌÑ∞ÏóêÏÑú ÏÇ¨Ïö©Ìï† `column`ÏùÄ  Îã§ÏùåÍ≥º Í∞ôÏäµÎãàÎã§.
>>> 1. ‚òÄÔ∏è ASOS
>>>> `tm` : ÏùºÏãú
>>>>
>>>> `avgTa` : ÌèâÍ∑† Í∏∞Ïò®
>>>>
>>>> `maxTa` : ÏµúÎåÄ Í∏∞Ïò®
>>>>
>>>> `minTa` : ÏµúÏÜå Í∏∞Ïò®
>>>>
>>>> `avgCm30Te` : ÏßÄÎ©¥ 30cm Ïò®ÎèÑ
>>>>
>>>> `sumRn` : Ïùº Í∞ïÏàòÎüâ(mm)
>>>
>>> 2. üçÑ Forestry : 
>>>> `Í≤ΩÎùΩÏùº` : ÏùºÏãú
>>>>
>>>> `ÎèÑÎß§ÏãúÏû•` : ÏßÄÏó≠ Íµ¨Î∂Ñ
>>>>
>>>> `ÌíàÎ™©` : ÌíàÎ™© Íµ¨Î∂Ñ
>>>>
>>>> `ÏÑ∏Î∂ÄÌíàÎ™©` : ÌíàÎ™© ÏÑ∏Î∂Ä Ï†ïÎ≥¥ Ï°∞Ìöå
>>>>
>>>> `Í±∞ÎûòÎã®Îüâ` : ÌåêÎß§Îüâ Í≥ÑÏÇ∞
>>>>
>>>> `Í±∞ÎûòÎüâ` : ÌåêÎß§Îüâ Í≥ÑÏÇ∞
>>>>
>>>> `Í∑úÍ≤©` : ÌåêÎß§Îüâ Í≥ÑÏÇ∞
>>>>
>>>> `Îì±Í∏â` : ÌíàÏßà Ï†ïÎ≥¥ Ï°∞Ìöå
>>>>
>>>> `Í∞ÄÍ≤©` : ÌåêÎß§Îüâ Í≥ÑÏÇ∞
>>>>

## 0. üíº Before we start...

ÏãúÏûëÌïòÍ∏∞ Ï†ÑÏóê Î®ºÏ†Ä ÌïÑÏöîÌïú ÎùºÏù¥Î∏åÎü¨Î¶¨Îì§Í≥º Îç∞Ïù¥ÌÑ∞Î•º Î∂àÎü¨Ïò§Í≥† Ï†ÄÏû•ÌïòÍ∏∞ Ïö©Ïù¥ÌïòÎèÑÎ°ù Íµ¨Í∏Ä ÎìúÎùºÏù¥Î∏åÎ•º ÎßàÏö¥Ìä∏ÌïòÎèÑÎ°ù ÌïòÍ≤†ÏäµÎãàÎã§.

In [1]:
import pandas as pd
import numpy as np
import json
import requests
import pathlib
import math
from tqdm import tqdm

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

ÏûÑÏÇ∞Î¨º Í∞ÄÍ≤© Îç∞Ïù¥ÌÑ∞Î•º `data.go.kr`ÏóêÏÑú Îã§Ïö¥Î°úÎìú Î∞õÍ≥† ÏïïÏ∂ïÏùÑ ÌíÄÎ©¥ ÏïÑÎûòÏôÄ Í∞ôÏùÄ Íµ¨Ï°∞Î•º Í∞ÄÏßÄÍ≥† ÏûàÏäµÎãàÎã§.

> üìÅ 210405_·Ñã·ÖØ·ÜØ·Ñá·Öß·ÜØ_·Ñã·Öµ·Ü∑·Ñâ·Ö°·Ü´·ÑÜ·ÖÆ·ÜØ_·ÑÉ·Ö©·ÑÜ·Ö¢·Ñâ·Öµ·Ñå·Ö°·Üº_·ÑÄ·Ö°·ÑÄ·Öß·Ü®·Ñå·Ö•·Üº·Ñá·Ö©_DB(2016_2021.03)
>> üìÅ 2016
>>> 201601.csv
>>>
>>> 201602.csv
>>>
>>> ...
>>>
>>> 201612.csv
>>>
>> ...
>>
>> üìÅ 2020
>> 
>> üìÅ 2021

Îî∞ÎùºÏÑú Ïù¥ Îç∞Ïù¥ÌÑ∞Î•º Î™®Îëê Îã§Î£®Îäî Î∞©Î≤ïÏúºÎ°ú Ï†ÄÎäî `pathlib`Í≥º `pandas` Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùÑ ÌôúÏö©ÌñàÏäµÎãàÎã§.

Ïù¥Î•º ÏúÑÌï¥ ÏûÑÏÇ∞Î¨º Í∞ÄÍ≤© Îç∞Ïù¥ÌÑ∞Ïùò `root` Ìè¥Îçî ÎîîÎ†âÌÜ†Î¶¨Î•º `FORESTRY_DATA_PATH`Î°ú ÏßÄÏ†ïÌï¥Ï§¨ÏäµÎãàÎã§.

In [3]:
# ÏûêÏã†Ïùò Íµ¨Í∏Ä ÎìúÎùºÏù¥Î∏å ÎÇ¥Ïùò ÏûÑÏÇ∞Î¨º Í∞ÄÍ≤© Îç∞Ïù¥ÌÑ∞ ÎîîÎ†âÌÜ†Î¶¨ ÏúÑÏπò
FORESTRY_DATA_PATH = '/content/gdrive/MyDrive/Classroom/[·ÑÉ·Ö¶·Ñã·Öµ·Ñê·Ö•·Ñá·ÖÆ·Ü´·Ñâ·Ö•·Ü® ·Ñã·Öµ·ÑÖ·Ö©·Ü´ ·ÑÜ·Öµ·Üæ ·Ñâ·Öµ·ÜØ·Ñâ·Ö≥·Ü∏(01)-·ÑÄ·Ö°·Üº·Ñã·Ö≤·Ü´·Ñí·Ö¥] ·Ñè·Ö•·Ü∑·Ñë·Ö≤·Ñê·Ö•·ÑÄ·Ö©·Üº·Ñí·Ö°·Ü®·Ñá·ÖÆ-2022-1/22-1_·Ñê·Ö•·Ü∑·Ñë·Ö≥·ÑÖ·Ö©·Ñå·Ö¶·Ü®·Ñê·Ö≥/210405_·Ñã·ÖØ·ÜØ·Ñá·Öß·ÜØ_·Ñã·Öµ·Ü∑·Ñâ·Ö°·Ü´·ÑÜ·ÖÆ·ÜØ_·ÑÉ·Ö©·ÑÜ·Ö¢·Ñâ·Öµ·Ñå·Ö°·Üº_·ÑÄ·Ö°·ÑÄ·Öß·Ü®·Ñå·Ö•·Üº·Ñá·Ö©_DB(2016_2021.03)/'

##1. ‚òÄÔ∏è ASOS Ï†ÑÏ≤òÎ¶¨

Î®ºÏ†Ä Open APIÎ•º ÌÜµÌï¥ ASOS Îç∞Ïù¥ÌÑ∞Î•º ÏöîÏ≤≠ÌïòÍ≥† Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú Î≥ÄÌôòÌïòÎèÑÎ°ù ÌïòÍ≤†ÏäµÎãàÎã§.

In [4]:
def get_ASOS_df(
    stnIds:int,
    startDt:str,
    endDt:str,
    pageNo:int=1,
    numOfRows:int=500,
    dataType:str='JSON',
    dataCd:str='ASOS',
    dateCd:str='DAY',
    serviceKey='your key'
    ):
    """
    ÏßÄÏó≠ IDÏôÄ Ï∏°Ï†ï ÏãúÏûë Î∞è Ï¢ÖÎ£å ÎÇ†ÏßúÎ•º Î∞õÏïÑ Pandas DataFrameÏùÑ Î∞òÌôòÌï©ÎãàÎã§.
    
    :params
    stnIds: Í¥ÄÏ∏° ÏßÄÏó≠Ïùò stnId(ÌïÑÏàò)
    startDt: Ï∏°Ï†ï ÏãúÏûë ÎÇ†Ïßú(ÌïÑÏàò)
    endDt: Ï∏°Ï†ï Ï¢ÖÎ£å ÎÇ†Ïßú(ÌïÑÏàò)
    pageNo: ÌéòÏù¥ÏßÄ Î≤àÌò∏(default=1)
    numOfRows: ÌéòÏù¥ÏßÄÎãπ Ìñâ(Îç∞Ïù¥ÌÑ∞) Í∞úÏàò(default=500, max=999)
    dataType: ÏöîÏ≤≠ Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ. 'JSON' ÎòêÎäî 'XML'(default='JSON')
    dataCd: Îç∞Ïù¥ÌÑ∞ Ï†úÍ≥µÏûê(default='ASOS')
    dateCd: Îç∞Ïù¥ÌÑ∞ Î∂ÑÎ•ò(default='DAY')
    serviceKey: Í≥µÍ≥µÎç∞Ïù¥ÌÑ∞Ìè¨ÌÑ∏(data.go.kr)ÏóêÏÑú Î∞úÍ∏âÎ∞õÏùÄ Ïù∏Ï¶ùÌÇ§
    """
    ASOS_datas = []
    while(True):
      
        API = f'http://apis.data.go.kr/1360000/AsosDalyInfoService/getWthrDataList?serviceKey={serviceKey}&numOfRows={numOfRows}&pageNo={pageNo}&dataType={dataType}&dataCd={dataCd}&dateCd={dateCd}&startDt={startDt}&endDt={endDt}&stnIds={stnIds}'
        json_data = requests.get(API).json()
        
        assert json_data['response']['header']['resultCode'] == '00', 'ÏûòÎ™ªÎêú ÏùëÎãµÏûÖÎãàÎã§. resultCode is NOT 00.'
    
        total_count = json_data['response']['body']['totalCount']
        ASOS_datas += json_data['response']['body']['items']['item']

        if total_count > (pageNo * numOfRows):
            pageNo += 1
        else:
            break
    
    return pd.DataFrame(ASOS_datas)


> `stnIds` : Î≥µÎ∂ÑÏûêÏùò Ï£ºÏöî ÏÉùÏÇ∞ÏßÄÏù∏ Í≥†Ï∞ΩÏùÑ ÎπÑÎ°ØÌï¥ Ï£ºÎ≥Ä ÏßÄÏó≠Ïù∏ ÏàúÏ∞ΩÍ≥º Ï†ïÏùçÏùò stnIdÎ•º ÌÜµÌï¥ ÏÑ∏ ÏßÄÏó≠Ïùò Í∏∞ÏÉÅ Ï†ïÎ≥¥Î•º Í∞ÄÏ†∏ÏòµÎãàÎã§.
>
> `startDt`, `endDt` : ÏûÑÏÇ∞Î¨º Í∞ÄÍ≤© Îç∞Ïù¥ÌÑ∞Í∞Ä 2016~2021ÎÖÑ ÏÇ¨Ïù¥Ïùò Îç∞Ïù¥ÌÑ∞Ïù¥ÎØÄÎ°ú 2016ÎÖÑ 1Ïõî 1ÏùºÎ∂ÄÌÑ∞ 2021ÎÖÑ 12Ïõî 31ÏùºÍπåÏßÄÏùò ASOS Í∏∞ÏÉÅ Îç∞Ïù¥ÌÑ∞Î•º ÏàòÏßëÌï©ÎãàÎã§.

In [5]:
stnIds = {
    'Í≥†Ï∞ΩÍµ∞': 251,
    'ÏàúÏ∞ΩÍµ∞': 254,
    'Ï†ïÏùç': 245
}
startDt = '20160101'
endDt = '20211231'

In [6]:
ASOS_df_dict = {}

for stnId in tqdm(stnIds, desc="Í∏∞ÏÉÅ Îç∞Ïù¥ÌÑ∞Î•º Í∞ÄÏ†∏Ïò§Í≥† ÏûàÏäµÎãàÎã§..üå±"):
    ASOS_df_dict[stnId] = get_ASOS_df(stnIds[stnId], startDt, endDt)

Í∏∞ÏÉÅ Îç∞Ïù¥ÌÑ∞Î•º Í∞ÄÏ†∏Ïò§Í≥† ÏûàÏäµÎãàÎã§..üå±: 100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 3/3 [00:38<00:00, 12.86s/it]

In [7]:
ASOS_df_dict['Í≥†Ï∞ΩÍµ∞'].columns

Index(['stnId', 'stnNm', 'tm', 'avgTa', 'minTa', 'minTaHrmt', 'maxTa',
       'maxTaHrmt', 'mi10MaxRn', 'mi10MaxRnHrmt', 'hr1MaxRn', 'hr1MaxRnHrmt',
       'sumRnDur', 'sumRn', 'maxInsWs', 'maxInsWsWd', 'maxInsWsHrmt', 'maxWs',
       'maxWsWd', 'maxWsHrmt', 'avgWs', 'hr24SumRws', 'maxWd', 'avgTd',
       'minRhm', 'minRhmHrmt', 'avgRhm', 'avgPv', 'avgPa', 'maxPs',
       'maxPsHrmt', 'minPs', 'minPsHrmt', 'avgPs', 'ssDur', 'sumSsHr',
       'hr1MaxIcsrHrmt', 'hr1MaxIcsr', 'sumGsr', 'ddMefs', 'ddMefsHrmt',
       'ddMes', 'ddMesHrmt', 'sumDpthFhsc', 'avgTca', 'avgLmac', 'avgTs',
       'minTg', 'avgCm5Te', 'avgCm10Te', 'avgCm20Te', 'avgCm30Te', 'avgM05Te',
       'avgM10Te', 'avgM15Te', 'avgM30Te', 'avgM50Te', 'sumLrgEv', 'sumSmlEv',
       'n99Rn', 'iscs', 'sumFogDur'],
      dtype='object')

> Ïù¥Îïå Îç∞Ïù¥ÌÑ∞Î°ú ÌôúÏö©ÌïòÍ≥†Ïûê ÌïòÎäî columnÏùÄ `tm`, `avgTa`, `maxTa`, `minTa`, `avgCm30Te`, `sumRn` 5Í∞ú Ïó¥Ïù¥ÎØÄÎ°ú ÏÑ∏ ÏßÄÏó≠Ïùò Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùÑ Ïû¨Íµ¨ÏÑ±Ìï©ÎãàÎã§.

In [8]:
target_columns = ['tm', 'avgTa', 'maxTa', 'minTa', 'avgCm30Te', 'sumRn']

for k in ASOS_df_dict.keys():
    ASOS_df_dict[k] = ASOS_df_dict[k][target_columns]

In [9]:
ASOS_df_dict['Í≥†Ï∞ΩÍµ∞'].tail(3)

              tm avgTa maxTa minTa avgCm30Te sumRn
2189  2021-12-29   3.9   8.6   0.2       4.9   0.0
2190  2021-12-30   0.7   3.7  -1.8       5.2   0.8
2191  2021-12-31  -3.2  -0.9  -5.2       4.9   0.0

> Í≤∞Ï∏°Ïπò Ï≤òÎ¶¨Î•º ÏúÑÌï¥ Îç∞Ïù¥ÌÑ∞Î•º ÏÇ¥Ìé¥Î≥¥Í≤†ÏäµÎãàÎã§.

In [10]:
ASOS_df_dict['Í≥†Ï∞ΩÍµ∞'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2192 entries, 0 to 2191
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   tm         2192 non-null   object
 1   avgTa      2192 non-null   object
 2   maxTa      2192 non-null   object
 3   minTa      2192 non-null   object
 4   avgCm30Te  2192 non-null   object
 5   sumRn      2192 non-null   object
dtypes: object(6)
memory usage: 102.9+ KB

> Î™®Îì† columnÏùò Í∞íÏù¥ `float`Í≥º Í∞ôÏùÄ Ïà´Ïûê ÌòïÌÉúÍ∞Ä ÏïÑÎãå `object` Ï¶â, Î¨∏ÏûêÏó¥Ïù∏ Í≤ÉÏùÑ ÌôïÏù∏Ìï† Ïàò ÏûàÏäµÎãàÎã§.

> Îî∞ÎùºÏÑú Îëê Í∞úÏùò Ìï®ÏàòÎ•º ÎßåÎì§Ïñ¥ Í≤∞Ï∏°ÏπòÎ•º Ï≤òÎ¶¨ÌïòÍ≥†Ïûê Ìï©ÎãàÎã§.
>> 1. `astype_float_fill_na_to_near_mean` : Í≤∞Ï∏°ÏπòÎ•º Ï†ÑÏ≤¥Ïùò ÌèâÍ∑†ÏúºÎ°ú Ï≤òÎ¶¨ÌïòÎäî Í≤ÉÏù¥ ÏïÑÎãàÎùº Ìï¥Îãπ `Ïù∏Îç±Ïä§ Ï£ºÎ≥Ä 10*stepÎßåÌÅºÏùò Í∞íÏùò ÌèâÍ∑†`ÏúºÎ°ú Ï≤òÎ¶¨ÌïòÎäî Ìï®ÏàòÏûÖÎãàÎã§. `step`ÏùÄ Ìï¥Îãπ Î≤îÏúÑ ÎÇ¥Ïóê Í∞íÏù¥ ÏóÜÏùÑ Í≤ÉÏùÑ ÎåÄÎπÑÌïú Î≥ÄÏàòÏûÖÎãàÎã§. Ïù¥Î•º ÌÜµÌï¥ Ïò®ÎèÑÏùò Í≤ΩÌñ•ÏÑ±ÏùÑ Ïú†ÏßÄÌïòÎèÑÎ°ù ÌñàÏäµÎãàÎã§.
>>
>> 2. `astype_float_fill_na_to_zero` : Í≤∞Ï∏°ÏπòÎ•º Îã®ÏàúÌûà 0ÏúºÎ°ú Ï≤òÎ¶¨ÌïòÎäî Ìï®ÏàòÏûÖÎãàÎã§. Í∞ïÏàòÎüâÏùò Í≤ΩÏö∞ ÎπÑÍ∞Ä ÏïàÎÇ¥Î¶¨Î©¥ 0Ïù¥ÎùºÍ≥† Î≥º Ïàò ÏûàÏäµÎãàÎã§.

In [11]:
def astype_float_fill_na_to_near_mean(X:list):
    """
    Í∞Å ÏõêÏÜåÍ∞Ä Î¨∏ÏûêÏó¥Ïù∏ Î¶¨Ïä§Ìä∏Î•º ÏûÖÎ†•ÏúºÎ°ú Î∞õÏïÑ Í∞íÏùÑ floatÏúºÎ°ú Î≥ÄÌôòÌïòÍ≥† Í≤∞Ï∏°ÏπòÎ•º Í∑∏ Í∞íÎì§Ïùò ÌèâÍ∑†ÏúºÎ°ú Ï≤òÎ¶¨ÌïòÎäî Ìï®Ïàò.
    """
    result = []
    for idx, x in enumerate(list(X)):
        if x != '':
            result.append(float(x))
        else:
            temp = [float(t) for t in X[idx-5:idx]+X[idx+1:idx+6] if t is not '']
            mean = sum(temp)/len(temp)
            step = 1 + 1
            while math.isnan(mean):
                temp = [float(t) for t in X[idx-(5*step):idx]+X[idx+1:idx+1+(5*step)] if t is not '']
                mean = sum(temp)/len(temp)
                step += 1
            result.append(mean)
    return result

In [12]:
def astype_float_fill_na_to_zero(X:list):
    """
    Í∞Å ÏõêÏÜåÍ∞Ä Î¨∏ÏûêÏó¥Ïù∏ Î¶¨Ïä§Ìä∏Î•º ÏûÖÎ†•ÏúºÎ°ú Î∞õÏïÑ Í∞íÏùÑ floatÏúºÎ°ú Î≥ÄÌôòÌïòÍ≥† Í≤∞Ï∏°ÏπòÎ•º 0ÏúºÎ°ú Ï≤òÎ¶¨ÌïòÎäî Ìï®Ïàò.
    """
    return [float(x) if x is not '' else 0 for x in X]

> ÏúÑÏùò Ìï®ÏàòÎì§Î°ú Í≤∞Ï∏°ÏπòÎ•º Ï≤òÎ¶¨ÌïòÍ∏∞ Ï†ÑÏóê `Ï†ïÏùç` ÏßÄÏó≠Ïùò `avgCm30Te`Ïùò Í∞íÏóêÏÑú ÌäπÏù¥Ï†êüö®ÏùÑ Î∞úÍ≤¨ÌñàÏäµÎãàÎã§.

In [13]:
ASOS_df_dict['Ï†ïÏùç']['avgCm30Te'].value_counts()

    2192
Name: avgCm30Te, dtype: int64

> ÏúÑÏùò Ï∂úÎ†• Í≤∞Í≥º `ÏïÑÎ¨¥Í≤ÉÎèÑ ÏóÜÎäî Í≤É`ÏùÑ ÌôïÏù∏Ìï† Ïàò ÏûàÏäµÎãàÎã§.
>
> Ï†ïÏÉÅÏ†ÅÏúºÎ°ú Ï∂úÎ†•ÎêúÎã§Î©¥ Îã§ÏùåÍ≥º Í∞ôÏùÄ ÎÇ¥Ïö©Ïù¥ Î≥¥Ïó¨ÏïºÌï©ÎãàÎã§.

In [14]:
ASOS_df_dict['Í≥†Ï∞ΩÍµ∞']['avgCm30Te'].value_counts()

        38
23.6    26
24.0    21
23.7    20
24.8    18
        ..
3.0      1
2.4      1
2.7      1
20.1     1
2.9      1
Name: avgCm30Te, Length: 289, dtype: int64

> Ï¶â, `Ï†ïÏùç` ÏßÄÏó≠Ïùò `avgCm30Te`Îäî Î™®Îì† Í∞íÏù¥ `nan`ÏûÖÎãàÎã§.
> 
> Îî∞ÎùºÏÑú Î∂ÑÏÑùÏóê `Ï†ïÏùç` ÏßÄÏó≠ ÏûêÏ≤¥Î•º Ï†úÏô∏ÏãúÌÇ§Î†§ ÌñàÏúºÎÇò ÏßÄÎ©¥ Ïò®ÎèÑÏùò Í≤ΩÏö∞Î•º Ï†úÏô∏Ìïú Îã§Î•∏ Í∞ÄÏÑ§ÏóêÏÑúÏùò Ïú†Ïö©ÏÑ±ÏùÑ Í≥†Î†§Ìï¥ Ìï¥Îãπ columnÏùÑ ÏÇ≠Ï†úÌïòÍ≥† ÏÇ¨Ïö©ÌïòÎèÑÎ°ù ÌïòÍ≤†ÏäµÎãàÎã§.

In [15]:
del ASOS_df_dict['Ï†ïÏùç']['avgCm30Te']

In [16]:
ASOS_df_dict['Ï†ïÏùç'].head(3)

           tm avgTa maxTa minTa sumRn
0  2016-01-01   3.1   8.6  -1.7
1  2016-01-02   7.0  13.4   0.3
2  2016-01-03   7.4  14.8   3.5

> Ïù¥Ï†ú ÎßåÎì§Ïñ¥ÏßÑ Ìï®ÏàòÎ•º ÏÇ¨Ïö©ÌïòÏó¨ `Í≤∞Ï∏°Ïπò`Î•º Ï≤òÎ¶¨Ìï©ÎãàÎã§.

In [17]:
for k in stnIds.keys():
    ASOS_df_dict[k]['avgTa'] = astype_float_fill_na_to_near_mean(list(ASOS_df_dict[k]['avgTa']))
    ASOS_df_dict[k]['maxTa'] = astype_float_fill_na_to_near_mean(list(ASOS_df_dict[k]['maxTa']))
    ASOS_df_dict[k]['minTa'] = astype_float_fill_na_to_near_mean(list(ASOS_df_dict[k]['minTa']))
    ASOS_df_dict[k]['sumRn'] = astype_float_fill_na_to_zero(list(ASOS_df_dict[k]['sumRn']))
    if k != 'Ï†ïÏùç':
        ASOS_df_dict[k]['avgCm30Te'] = astype_float_fill_na_to_near_mean(list(ASOS_df_dict[k]['avgCm30Te']))

In [18]:
ASOS_df_dict['Í≥†Ï∞ΩÍµ∞'].head()

           tm  avgTa  maxTa  minTa  avgCm30Te  sumRn
0  2016-01-01    3.1    8.3   -2.2        6.1    0.0
1  2016-01-02    7.1   13.6    1.5        6.4    0.0
2  2016-01-03    6.8   14.3    2.8        7.0    0.0
3  2016-01-04    5.7    9.1   -0.5        7.4    0.0
4  2016-01-05    1.4    3.3   -1.7        6.9    0.0

In [19]:
ASOS_df_dict['Í≥†Ï∞ΩÍµ∞'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2192 entries, 0 to 2191
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   tm         2192 non-null   object
 1   avgTa      2192 non-null   float64
 2   maxTa      2192 non-null   float64
 3   minTa      2192 non-null   float64
 4   avgCm30Te  2192 non-null   float64
 5   sumRn      2192 non-null   float64
dtypes: float64(5), object(1)
memory usage: 102.9+ KB

> ÎßàÏßÄÎßâÏúºÎ°ú ÏÑ∏ ÏßÄÏó≠Ïùò Îç∞Ïù¥ÌÑ∞Î•º csv ÌååÏùºÎ°ú Ï†ÄÏû•Ìï©ÎãàÎã§.

In [20]:
for k in ASOS_df_dict.keys():
    ASOS_df_dict[k].to_csv(f'ASOS_{k}_Í∏∞ÏÉÅÎç∞Ïù¥ÌÑ∞.csv', encoding='cp949', index=False)
    # if you want to save these files to your google drive
    # then change the file path to target directory.
    # this code doesn't make csv file reusable.

Done‚úÖ

---

## 2. üçÑ ÏûÑÏÇ∞Î¨º Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤òÎ¶¨

> pathlib ÎùºÏù¥Î∏åÎü¨Î¶¨Îäî ÌååÏùº Íµ¨Ï°∞Ïùò ÌÉêÏÉâÏùÑ ÏâΩÍ≤å Ìï¥Ï§çÎãàÎã§.
> 
> ÏïÑÎûòÏôÄ Í∞ôÏù¥ rglob Î©îÏÜåÎìúÎ•º ÏÇ¨Ïö©Ìï¥ ÏûÑÏÇ∞Î¨º Í∞ÄÍ≤© Îç∞Ïù¥ÌÑ∞ ÎîîÎ†âÌÜ†Î¶¨ ÎÇ¥Ïùò Î™®Îì† csv ÌååÏùºÏùò Í≤ΩÎ°úÎ•º ÏùΩÏñ¥Ïò¨ Ïàò ÏûàÏäµÎãàÎã§.

In [21]:
FORESTRY_DATA_PATHs = list(pathlib.Path(FORESTRY_DATA_PATH).rglob('**/*.csv'))

for path in FORESTRY_DATA_PATHs[::12]:
    print(path)

/content/gdrive/MyDrive/Classroom/[·ÑÉ·Ö¶·Ñã·Öµ·Ñê·Ö•·Ñá·ÖÆ·Ü´·Ñâ·Ö•·Ü® ·Ñã·Öµ·ÑÖ·Ö©·Ü´ ·ÑÜ·Öµ·Üæ ·Ñâ·Öµ·ÜØ·Ñâ·Ö≥·Ü∏(01)-·ÑÄ·Ö°·Üº·Ñã·Ö≤·Ü´·Ñí·Ö¥] ·Ñè·Ö•·Ü∑·Ñë·Ö≤·Ñê·Ö•·ÑÄ·Ö©·Üº·Ñí·Ö°·Ü®·Ñá·ÖÆ-2022-1/22-1_·Ñê·Ö•·Ü∑·Ñë·Ö≥·ÑÖ·Ö©·Ñå·Ö¶·Ü®·Ñê·Ö≥/210405_·Ñã·ÖØ·ÜØ·Ñá·Öß·ÜØ_·Ñã·Öµ·Ü∑·Ñâ·Ö°·Ü´·ÑÜ·ÖÆ·ÜØ_·ÑÉ·Ö©·ÑÜ·Ö¢·Ñâ·Öµ·Ñå·Ö°·Üº_·ÑÄ·Ö°·ÑÄ·Öß·Ü®·Ñå·Ö•·Üº·Ñá·Ö©_DB(2016_2021.03)/2021/202101.csv
/content/gdrive/MyDrive/Classroom/[·ÑÉ·Ö¶·Ñã·Öµ·Ñê·Ö•·Ñá·ÖÆ·Ü´·Ñâ·Ö•·Ü® ·Ñã·Öµ·ÑÖ·Ö©·Ü´ ·ÑÜ·Öµ·Üæ ·Ñâ·Öµ·ÜØ·Ñâ·Ö≥·Ü∏(01)-·ÑÄ·Ö°·Üº·Ñã·Ö≤·Ü´·Ñí·Ö¥] ·Ñè·Ö•·Ü∑·Ñë·Ö≤·Ñê·Ö•·ÑÄ·Ö©·Üº·Ñí·Ö°·Ü®·Ñá·ÖÆ-2022-1/22-1_·Ñê·Ö•·Ü∑·Ñë·Ö≥·ÑÖ·Ö©·Ñå·Ö¶·Ü®·Ñê·Ö≥/210405_·Ñã·ÖØ·ÜØ·Ñá·Öß·ÜØ_·Ñã·Öµ·Ü∑·Ñâ·Ö°·Ü´·ÑÜ·ÖÆ·ÜØ_·ÑÉ·Ö©·ÑÜ·Ö¢·Ñâ·Öµ·Ñå·Ö°·Üº_·ÑÄ·Ö°·ÑÄ·Öß·Ü®·Ñå·Ö•·Üº·Ñá·Ö©_DB(2016_2021.03)/2018/201810.csv
/content/gdrive/MyDrive/Classroom/[·ÑÉ·Ö¶·Ñã·Öµ·Ñê·Ö•·Ñá·ÖÆ·Ü´·Ñâ·Ö•·Ü® ·Ñã·Öµ·ÑÖ·Ö©·Ü´ ·ÑÜ·Öµ·Üæ ·Ñâ·Öµ·ÜØ·Ñâ·Ö≥·Ü∏(01)-·ÑÄ·Ö°·Üº·Ñã·Ö≤·Ü´·Ñí·Ö¥] ·Ñè·Ö•·Ü∑·Ñë·Ö≤·Ñê·Ö•·ÑÄ·Ö©·Üº·Ñí·Ö°·Ü®·Ñá·ÖÆ-2022-1/22-1_·Ñê·Ö•·Ü∑·Ñë·Ö≥·ÑÖ·Ö©·Ñå·Ö¶·Ü®·Ñê·Ö≥/210405_·Ñã·ÖØ·ÜØ·Ñá·Öß·ÜØ_·Ñã·Öµ·Ü∑·Ñâ·Ö°·Ü´·ÑÜ·ÖÆ·ÜØ_·ÑÉ·Ö©·ÑÜ·Ö¢·Ñâ·Öµ·Ñå·Ö°·Üº_·ÑÄ·Ö°·ÑÄ·Öß·Ü®·Ñå·Ö•·Üº·Ñá·Ö©_DB(2016_2021.03)/2019/201910.csv
/content/gdrive/MyDrive/Classroom/[·ÑÉ·Ö¶·Ñã·Öµ·Ñê·Ö•·Ñá·ÖÆ·Ü´·Ñâ·Ö•·Ü® ·Ñã·Öµ·ÑÖ·Ö©·Ü´ ·ÑÜ·Öµ·Üæ ·Ñâ·Öµ·ÜØ·Ñâ·Ö≥·Ü∏(01)-·ÑÄ·Ö°·Üº·Ñã·Ö≤·Ü´·Ñí·Ö¥] ·Ñè·Ö•·Ü∑·Ñë·Ö≤·Ñê·Ö•·ÑÄ·Ö©·Üº·Ñí·Ö°·Ü®·Ñá·ÖÆ-2022-1/22-1_·Ñê·Ö•·Ü∑·Ñë·Ö≥·ÑÖ·Ö©·Ñå·Ö¶·Ü®·Ñê·Ö≥/210405_·Ñã·ÖØ·ÜØ·Ñá·Öß·ÜØ_·Ñã·Öµ·Ü∑·Ñâ·Ö°·Ü´·ÑÜ·ÖÆ·ÜØ_·ÑÉ·Ö©·ÑÜ·Ö¢·Ñâ·Öµ·Ñå·Ö°·Üº_·ÑÄ·Ö°·ÑÄ·Öß·Ü®·Ñå·Ö•·Üº·Ñá·Ö©_DB(2016_2021.03)/2020/202010.csv
/content/gdrive/MyDrive/Classroom/[·ÑÉ·Ö¶·Ñã·Öµ·Ñê·Ö•·Ñá·ÖÆ·Ü´·Ñâ·Ö•·Ü® ·Ñã·Öµ·ÑÖ·Ö©·Ü´ ·ÑÜ·Öµ·Üæ ·Ñâ·Öµ·ÜØ·Ñâ·Ö≥·Ü∏(01)-·ÑÄ·Ö°·Üº·Ñã·Ö≤·Ü´·Ñí·Ö¥] ·Ñè·Ö•·Ü∑·Ñë·Ö≤·Ñê·Ö•·ÑÄ·Ö©·Üº·Ñí·Ö°·Ü®·Ñá·ÖÆ-2022-1/22-1_·Ñê·Ö•·Ü∑·Ñë·Ö≥·ÑÖ·Ö©·Ñå·Ö¶·Ü®·Ñê·Ö≥/210405_·Ñã·ÖØ·ÜØ·Ñá·Öß·ÜØ_·Ñã·Öµ·Ü∑·Ñâ·Ö°·Ü´·ÑÜ·ÖÆ·ÜØ_·ÑÉ·Ö©·ÑÜ·Ö¢·Ñâ·Öµ·Ñå·Ö°·Üº_·ÑÄ·Ö°·ÑÄ·Öß·Ü®·Ñå·Ö•·Üº·Ñá·Ö©_DB(2016_2021.03)/2017/201710.csv
/content/gdrive/MyDrive/Classroom/[·ÑÉ·Ö¶·Ñã·Öµ·Ñê·Ö•·Ñá·ÖÆ·Ü´·Ñâ·Ö•·Ü® ·Ñã·Öµ·ÑÖ·Ö©·Ü´ ·ÑÜ·Öµ·Üæ ·Ñâ·Öµ·ÜØ·Ñâ·Ö≥·Ü∏(01)-·ÑÄ·Ö°·Üº·Ñã·Ö≤·Ü´·Ñí·Ö¥] ·Ñè·Ö•·Ü∑·Ñë·Ö≤·Ñê·Ö•·ÑÄ·Ö©·Üº·Ñí·Ö°·Ü®·Ñá·ÖÆ-2022-1/22-1_·Ñê·Ö•·Ü∑·Ñë·Ö≥·ÑÖ·Ö©·Ñå·Ö¶·Ü®·Ñê·Ö≥/210405_·Ñã·ÖØ·ÜØ·Ñá·Öß·ÜØ_·Ñã·Öµ·Ü∑·Ñâ·Ö°·Ü´·ÑÜ·ÖÆ·ÜØ_·ÑÉ·Ö©·ÑÜ·Ö¢·Ñâ·Öµ·Ñå·Ö°·Üº_·ÑÄ·Ö°·ÑÄ·Öß·Ü®·Ñå·Ö•·Üº·Ñá·Ö©_DB(2016_2021.03)/2016/201610.csv

> Í≤ΩÎ°úÏùò ÏàúÏÑúÍ∞Ä Îí§Ï£ΩÎ∞ïÏ£ΩÏù¥ÏßÄÎßå Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú Íµ¨ÏÑ±Ìïú ÌõÑ Ï†ïÎ†¨Ìï¥ÎèÑ Ï¢ãÏùÑ Í≤É Í∞ôÏäµÎãàÎã§.
> 
> Îî∞ÎùºÏÑú, ÎîîÎ†âÌÜ†Î¶¨ ÎÇ¥Ïùò Î™®Îì† ÌååÏùºÏùÑ ÌïòÎÇòÏùò Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú ÏùΩÏñ¥Ïò§Í≤†ÏäµÎãàÎã§.

In [22]:
Forestry_df = pd.read_csv(FORESTRY_DATA_PATHs[0], encoding='cp949')

for path in tqdm(FORESTRY_DATA_PATHs[1:], desc="ÏûÑÏÇ∞Î¨º Í∞ÄÍ≤© Îç∞Ïù¥ÌÑ∞Î•º Í∞ÄÏ†∏Ïò§Í≥† ÏûàÏäµÎãàÎã§..üå±"):
  Forestry_df = pd.concat([Forestry_df, pd.read_csv(path, encoding='cp949')])

ÏûÑÏÇ∞Î¨º Í∞ÄÍ≤© Îç∞Ïù¥ÌÑ∞Î•º Í∞ÄÏ†∏Ïò§Í≥† ÏûàÏäµÎãàÎã§..üå±:  82%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñè | 51/62 [00:09<00:03,  3.11it/s]/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (3,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
ÏûÑÏÇ∞Î¨º Í∞ÄÍ≤© Îç∞Ïù¥ÌÑ∞Î•º Í∞ÄÏ†∏Ïò§Í≥† ÏûàÏäµÎãàÎã§..üå±: 100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 62/62 [00:14<00:00,  4.31it/s]

In [23]:
Forestry_df.iloc[[0, -1]]

,Í≤ΩÎùΩÏùº,Í≥µÏòÅÎèÑÎß§ÏãúÏû•ÏΩîÎìú,ÎèÑÎß§ÏãúÏû•,ÌíàÎ™©ÏΩîÎìú,ÌíàÎ™©,ÏÑ∏Î∂ÄÌíàÎ™©ÏΩîÎìú,ÏÑ∏Î∂ÄÌíàÎ™©,Í±∞ÎûòÎüâ,Í±∞ÎûòÎã®Îüâ,Í∑úÍ≤©ÏΩîÎìú,Í∑úÍ≤©,Îì±Í∏âÏΩîÎìú,Îì±Í∏â,Í∞ÄÍ≤©
0,20210102,380401,ÏßÑÏ£ºÎèÑÎß§ÏãúÏû•,1406,Ï∞∏ÎÇòÎ¨º,140601,Ï∞∏ÎÇòÎ¨º(ÏùºÎ∞ò),16,4.0,120100,kg ÏÉÅÏûê,11,Ìäπ,10867
20608,20161231,370401,ÏïàÎèôÎèÑÎß§ÏãúÏû•,702,ÎåÄÏ∂î,70202,Í±¥ÎåÄÏ∂î,108,10.0,120500,kg Í∑∏Î¨ºÎßù,10,ÏóÜÏùå,41663

> ÏúÑÏóêÏÑú ÌôïÏù∏Ìï† Ïàò ÏûàÎìØÏù¥ Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùò ÏàúÏÑúÍ∞Ä Í≤ΩÎùΩÏùº ÏàúÏÑúÎ°ú Ï†ïÎ†¨ÎêòÏßÄ ÏïäÏùåÏùÑ Ïïå Ïàò ÏûàÏäµÎãàÎã§.
>
> Îî∞ÎùºÏÑú Î®ºÏ†Ä Í≤ΩÎùΩÏùº Í∏∞Ï§ÄÏúºÎ°ú Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùÑ Ï†ïÎ†¨Ìï©ÎãàÎã§.

In [24]:
Forestry_df = Forestry_df.sort_values(by='Í≤ΩÎùΩÏùº').reset_index(drop=True)

In [25]:
Forestry_df.iloc[[0, -1]]

,Í≤ΩÎùΩÏùº,Í≥µÏòÅÎèÑÎß§ÏãúÏû•ÏΩîÎìú,ÎèÑÎß§ÏãúÏû•,ÌíàÎ™©ÏΩîÎìú,ÌíàÎ™©,ÏÑ∏Î∂ÄÌíàÎ™©ÏΩîÎìú,ÏÑ∏Î∂ÄÌíàÎ™©,Í±∞ÎûòÎüâ,Í±∞ÎûòÎã®Îüâ,Í∑úÍ≤©ÏΩîÎìú,Í∑úÍ≤©,Îì±Í∏âÏΩîÎìú,Îì±Í∏â,Í∞ÄÍ≤©
0,20160102,350301,ÏùµÏÇ∞ÎèÑÎß§ÏãúÏû•,1704,ÌëúÍ≥†Î≤ÑÏÑØ,170499,Í∏∞ÌÉÄ,7,4.0,120100,kg ÏÉÅÏûê,1C,Î¨¥ÎÜçÏïΩ,37000
2234726,20210331,380303,Ï∞ΩÏõêÎÇ¥ÏÑúÎèÑÎß§ÏãúÏû•,1403,ÎëêÎ¶Ö,140305,Ï∞∏ÎëêÎ¶Ö,1,0.5,120100,kg ÏÉÅÏûê,13,Î≥¥ÌÜµ,6000

> Îã§ÏùåÏúºÎ°ú ÏÇ¨Ïö©Ìï† `column`ÏúºÎ°ú Íµ¨ÏÑ±Îêú Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùÑ Íµ¨ÏÑ±Ìï©ÎãàÎã§.

In [26]:
target_columns = ['Í≤ΩÎùΩÏùº', 'ÎèÑÎß§ÏãúÏû•', 'ÌíàÎ™©', 'ÏÑ∏Î∂ÄÌíàÎ™©', 'Í±∞ÎûòÎã®Îüâ', 'Í±∞ÎûòÎüâ', 'Í∑úÍ≤©', 'Îì±Í∏â', 'Í∞ÄÍ≤©']

In [27]:
Forestry_df = Forestry_df[target_columns]

In [28]:
Forestry_df.head()

        Í≤ΩÎùΩÏùº    ÎèÑÎß§ÏãúÏû•    ÌíàÎ™© ÏÑ∏Î∂ÄÌíàÎ™©  Í±∞ÎûòÎã®Îüâ  Í±∞ÎûòÎüâ         Í∑úÍ≤©   Îì±Í∏â     Í∞ÄÍ≤©
0  20160102  ÏùµÏÇ∞ÎèÑÎß§ÏãúÏû•  ÌëúÍ≥†Î≤ÑÏÑØ   Í∏∞ÌÉÄ   4.0    7     kg ÏÉÅÏûê   Î¨¥ÎÜçÏïΩ  37000
1  20160102  Î∂ÄÏÇ∞ÏóÑÍ∂ÅÎèÑÎß§  ÌëúÍ≥†Î≤ÑÏÑØ  ÏÉùÌëúÍ≥†   1.0    2  kg P-BOX    Î≥¥ÌÜµ   4000
2  20160102  Î∂ÄÏÇ∞ÏóÑÍ∂ÅÎèÑÎß§  ÌëúÍ≥†Î≤ÑÏÑØ  ÏÉùÌëúÍ≥†   0.1  240  kg P-BOX    Î≥¥ÌÜµ    260
3  20160102  Î∂ÄÏÇ∞ÏóÑÍ∂ÅÎèÑÎß§  ÌëúÍ≥†Î≤ÑÏÑØ  ÏÉùÌëúÍ≥†   0.1  190  kg P-BOX    Î≥¥ÌÜµ    460
4  20160102  Î∂ÄÏÇ∞ÏóÑÍ∂ÅÎèÑÎß§  ÌëúÍ≥†Î≤ÑÏÑØ  ÏÉùÌëúÍ≥†   0.1  179  kg P-BOX    Î≥¥ÌÜµ    280

> Î≥∏ ÌîÑÎ°úÏ†ùÌä∏ÏóêÏÑú ÏÇ¨Ïö©ÌïòÍ≥†Ïûê ÌïòÎäî Îç∞Ïù¥ÌÑ∞Îäî Î≥µÎ∂ÑÏûêÏóê Í¥ÄÎ†®Îêú Îç∞Ïù¥ÌÑ∞Ïù¥ÎØÄÎ°ú ÌíàÎ™©Ïù¥ Î≥µÎ∂ÑÏûêÏù∏ Îç∞Ïù¥ÌÑ∞Îßå ÏÑ†ÌÉùÌï¥ Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùÑ ÏÉùÏÑ±Ìï©ÎãàÎã§.
>
>> ÏÉùÏÇ∞ÏßÄÏóêÏÑú ÏÉùÏÇ∞Îêú Î≥µÎ∂ÑÏûêÎäî ÎπÑÎã® Ï†ÑÎùºÎ∂ÅÎèÑ ÏßÄÏó≠ÎøêÎßå ÏïÑÎãàÎùº Ï†ÑÍµ≠Ï†ÅÏúºÎ°ú Í±∞ÎûòÎê† Í≤ÉÏù¥ÎùºÍ≥† ÌåêÎã®ÌïòÎØÄÎ°ú ÎèÑÎß§ÏãúÏû•ÏùÑ ÌïÑÌÑ∞ÎßÅÌï† ÌïÑÏöîÎäî ÏóÜÎã§Í≥† ÏÉùÍ∞ÅÌñàÏäµÎãàÎã§.

In [29]:
korean_black_raspberry_df = Forestry_df[Forestry_df['ÌíàÎ™©']=="Î≥µÎ∂ÑÏûê"]

In [30]:
korean_black_raspberry_df.head()

             Í≤ΩÎùΩÏùº    ÎèÑÎß§ÏãúÏû•   ÌíàÎ™©     ÏÑ∏Î∂ÄÌíàÎ™©  Í±∞ÎûòÎã®Îüâ  Í±∞ÎûòÎüâ     Í∑úÍ≤© Îì±Í∏â     Í∞ÄÍ≤©
552457  20160426  Î∂ÄÏÇ∞Î∞òÏó¨ÎèÑÎß§  Î≥µÎ∂ÑÏûê  Î≥µÎ∂ÑÏûê(ÏùºÎ∞ò)   1.0    1  kg     Ìäπ  10000
560385  20160427  Î∂ÄÏÇ∞Î∞òÏó¨ÎèÑÎß§  Î≥µÎ∂ÑÏûê  Î≥µÎ∂ÑÏûê(ÏùºÎ∞ò)   1.0    1  kg     Ìäπ   9000
573904  20160429  Î∂ÄÏÇ∞Î∞òÏó¨ÎèÑÎß§  Î≥µÎ∂ÑÏûê  Î≥µÎ∂ÑÏûê(ÏùºÎ∞ò)   1.0    3  kg     Ìäπ  10200
590930  20160502  Î∂ÄÏÇ∞Î∞òÏó¨ÎèÑÎß§  Î≥µÎ∂ÑÏûê  Î≥µÎ∂ÑÏûê(ÏùºÎ∞ò)   1.0   10  kg     Ìäπ  11500
603463  20160504  Î∂ÄÏÇ∞Î∞òÏó¨ÎèÑÎß§  Î≥µÎ∂ÑÏûê  Î≥µÎ∂ÑÏûê(ÏùºÎ∞ò)   1.0   10  kg     Ìäπ  11700

> `Í∑úÍ≤©`Ïùò Í≤ΩÏö∞ Ï∂îÌõÑ Í≥ÑÏÇ∞ÏùÑ ÏúÑÌï¥ ÎèôÏùºÌïú Î¨∏ÏûêÏó¥Î°ú Íµ¨ÏÑ±ÎêòÏñ¥ÏûàÎäîÏßÄ ÌôïÏù∏Ìï† ÌïÑÏöîÍ∞Ä ÏûàÏäµÎãàÎã§.

In [31]:
korean_black_raspberry_df['Í∑úÍ≤©'].unique()

array(['kg   ', 'kg ÏÉÅÏûê ', 'kg Í∞ú ', 'kg Ï†ëÏãúÏö©Í∏∞ Ìä∏Î†àÏù¥ ', 'kg ÏÉÅÏûê 1Í∞ú',
       'kg P-BOX ', 'kg   1Í∞ú', 'g P-BOX ', 'kg ÏÉÅÏûê 11Í∞ú', 'kg Í∑∏Î¨ºÎßù ',
       'kg PEÎåÄ ', 'g Îã® ', 'kg ÌååÎ†õÌä∏ ', 'kg ÏÉÅÏûê 50ÎÇ¥'], dtype=object)

> ÌïòÏßÄÎßå Ïù¥Ï≤òÎüº Îã§ÏñëÌïú Í∑úÍ≤© ÌëúÍ∏∞Î≤ïÏù¥ ÏûàÏùåÏùÑ Î∞úÍ≤¨Ìï† Ïàò ÏûàÏäµÎãàÎã§.
>
> Ïûò ÏÇ¥Ìé¥Î≥¥Î©¥ kgÏù¥ Ìè¨Ìï®Îêú Î¨∏ÏûêÏó¥ ÎòêÎäî gÏù¥ Ìè¨Ìï®Îêú Î¨∏ÏûêÏó¥Î°ú Íµ¨ÏÑ±ÎêòÏñ¥ ÏûàÏùåÏùÑ Ïïå Ïàò ÏûàÏäµÎãàÎã§.
> 
> Îî∞ÎùºÏÑú kgÏùÑ Ìè¨Ìï®Ìïú Î¨∏ÏûêÏó¥Ïù¥ÎùºÎ©¥ kgÏúºÎ°ú Î≥ÄÌôòÌï¥Ï£ºÍ≥† ÏïÑÎãàÎùºÎ©¥ gÏúºÎ°ú Î≥ÄÌôòÌï¥Ï§çÎãàÎã§.

In [32]:
new_standard_representations = ['kg' if 'kg' in rep else 'g' for rep in korean_black_raspberry_df['Í∑úÍ≤©']]
korean_black_raspberry_df.loc[:, 'Í∑úÍ≤©'] = new_standard_representations

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [33]:
korean_black_raspberry_df['Í∑úÍ≤©'].unique()

array(['kg', 'g'], dtype=object)

In [34]:
korean_black_raspberry_df.head()

             Í≤ΩÎùΩÏùº    ÎèÑÎß§ÏãúÏû•   ÌíàÎ™©     ÏÑ∏Î∂ÄÌíàÎ™©  Í±∞ÎûòÎã®Îüâ  Í±∞ÎûòÎüâ  Í∑úÍ≤© Îì±Í∏â     Í∞ÄÍ≤©
552457  20160426  Î∂ÄÏÇ∞Î∞òÏó¨ÎèÑÎß§  Î≥µÎ∂ÑÏûê  Î≥µÎ∂ÑÏûê(ÏùºÎ∞ò)   1.0    1  kg  Ìäπ  10000
560385  20160427  Î∂ÄÏÇ∞Î∞òÏó¨ÎèÑÎß§  Î≥µÎ∂ÑÏûê  Î≥µÎ∂ÑÏûê(ÏùºÎ∞ò)   1.0    1  kg  Ìäπ   9000
573904  20160429  Î∂ÄÏÇ∞Î∞òÏó¨ÎèÑÎß§  Î≥µÎ∂ÑÏûê  Î≥µÎ∂ÑÏûê(ÏùºÎ∞ò)   1.0    3  kg  Ìäπ  10200
590930  20160502  Î∂ÄÏÇ∞Î∞òÏó¨ÎèÑÎß§  Î≥µÎ∂ÑÏûê  Î≥µÎ∂ÑÏûê(ÏùºÎ∞ò)   1.0   10  kg  Ìäπ  11500
603463  20160504  Î∂ÄÏÇ∞Î∞òÏó¨ÎèÑÎß§  Î≥µÎ∂ÑÏûê  Î≥µÎ∂ÑÏûê(ÏùºÎ∞ò)   1.0   10  kg  Ìäπ  11700

> Î≥µÎ∂ÑÏûêÎßå Í∞ÄÏ†∏ÏôÄ Ïù∏Îç±Ïä§Í∞Ä ÏÑûÏòÄÏúºÎØÄÎ°ú Ïù∏Îç±Ïä§Î•º Ï¥àÍ∏∞ÌôîÏãúÏºúÏ§çÎãàÎã§.

In [35]:
korean_black_raspberry_df = korean_black_raspberry_df.reset_index(drop=True)

In [36]:
korean_black_raspberry_df.head()

        Í≤ΩÎùΩÏùº    ÎèÑÎß§ÏãúÏû•   ÌíàÎ™©     ÏÑ∏Î∂ÄÌíàÎ™©  Í±∞ÎûòÎã®Îüâ  Í±∞ÎûòÎüâ  Í∑úÍ≤© Îì±Í∏â     Í∞ÄÍ≤©
0  20160426  Î∂ÄÏÇ∞Î∞òÏó¨ÎèÑÎß§  Î≥µÎ∂ÑÏûê  Î≥µÎ∂ÑÏûê(ÏùºÎ∞ò)   1.0    1  kg  Ìäπ  10000
1  20160427  Î∂ÄÏÇ∞Î∞òÏó¨ÎèÑÎß§  Î≥µÎ∂ÑÏûê  Î≥µÎ∂ÑÏûê(ÏùºÎ∞ò)   1.0    1  kg  Ìäπ   9000
2  20160429  Î∂ÄÏÇ∞Î∞òÏó¨ÎèÑÎß§  Î≥µÎ∂ÑÏûê  Î≥µÎ∂ÑÏûê(ÏùºÎ∞ò)   1.0    3  kg  Ìäπ  10200
3  20160502  Î∂ÄÏÇ∞Î∞òÏó¨ÎèÑÎß§  Î≥µÎ∂ÑÏûê  Î≥µÎ∂ÑÏûê(ÏùºÎ∞ò)   1.0   10  kg  Ìäπ  11500
4  20160504  Î∂ÄÏÇ∞Î∞òÏó¨ÎèÑÎß§  Î≥µÎ∂ÑÏûê  Î≥µÎ∂ÑÏûê(ÏùºÎ∞ò)   1.0   10  kg  Ìäπ  11700

> Îã§ÏùåÏúºÎ°ú Í≤∞Ï∏°ÏπòÎ•º Ï≤òÎ¶¨ÌïòÍ∏∞ ÏúÑÌï¥ Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùò `info()` Î©îÏÜåÎìúÎ°ú ÌôïÏù∏Ìï¥Î≥¥Í≤†ÏäµÎãàÎã§.

In [37]:
korean_black_raspberry_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3532 entries, 0 to 3531
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Í≤ΩÎùΩÏùº     3532 non-null   int64
 1   ÎèÑÎß§ÏãúÏû•    3532 non-null   object
 2   ÌíàÎ™©      3532 non-null   object
 3   ÏÑ∏Î∂ÄÌíàÎ™©    3532 non-null   object
 4   Í±∞ÎûòÎã®Îüâ    3532 non-null   float64
 5   Í±∞ÎûòÎüâ     3532 non-null   int64
 6   Í∑úÍ≤©      3532 non-null   object
 7   Îì±Í∏â      3532 non-null   object
 8   Í∞ÄÍ≤©      3532 non-null   int64
dtypes: float64(1), int64(3), object(5)
memory usage: 248.5+ KB

> Îî∞Î°ú Í≤∞Ï∏°ÏπòÍ∞Ä Î∞úÍ≤¨ÎêòÏßÄ ÏïäÏïòÏúºÎØÄÎ°ú ÎßàÏßÄÎßâÏúºÎ°ú ÎßåÎì§Ïñ¥ÏßÑ Î≥µÎ∂ÑÏûê Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùÑ csvÎ°ú Ï†ÄÏû•Ìï©ÎãàÎã§.

In [38]:
korean_black_raspberry_df.to_csv('Î≥µÎ∂ÑÏûê_Í∞ÄÍ≤©_Îç∞Ïù¥ÌÑ∞.csv', encoding='cp949', index=False)

## Ïù¥ÏÉÅÏúºÎ°ú Ï†ÑÏ≤òÎ¶¨ Í≥ºÏ†ïÏùÑ ÎßàÏ≥§ÏäµÎãàÎã§!
> [Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑù ÎÖ∏Ìä∏Î∂Å](https://colab.research.google.com/drive/1yp1nZzreOTXOF0Rf5oVQhH89Ut6crOTw?usp=sharing)ÏúºÎ°ú Ïù¥Ïñ¥ÏßëÎãàÎã§.
>
> ÏÜåÏ§ëÌïú ÏãúÍ∞Ñ ÎÇ¥Ïñ¥Ï£ºÏÖîÏÑú Í∞êÏÇ¨Ìï©ÎãàÎã§.üòÑ