<a href="https://colab.research.google.com/github/JinwangMok/UNI_data_anaysis/blob/main/preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 📘 Preprocessing.ipynb

>## Information
>
>> Semester : `2022년 1학기`
>>
>> Class : `데이터 분석 이론 및 실습`
>>
>> Team : `장바구니`
>>
>> Author : `목진왕`

```
본 노트북은 데이터 분석에 앞서 원본 데이터를 가공하는 전처리(preprocessing) 단계에 대한 내용입니다.
```

> ## Preview
> 
>> #### 🗃 개요
>> 저희 `장바구니` 조는 `날씨🌤와 농·임산물의 가격 및 생산량의 상관관계`를 주제로 데이터 분석을 진행했습니다.
>> 
>> 저는 먼저 __`날씨(강수량, 기온, 지면온도)에 따라 복분자의 가격이 변동할 것이다.`__라고 생각해보았습니다. 
>>
>>
>>> 📄참고자료
>>>
>>> <a href="https://folkency.nfm.go.kr/kr/topic/detail/7680"><img src="https://folkency.nfm.go.kr/upload/img/20190304/20190304123721_w_.jpg" alt="복분자-한국민속대백과사전" width="160" height="96"></a>
>>> 
>>> 🔗[농촌진흥청 복분자의 상성 및 경종기술 문서](http://www.nongsaro.go.kr/portal/ps/psb/psbk/kidoContentsFileView.mo?kidofcomdtyNo=26627)
>> 
>> 이후 조사한 결과 위 문서에 따르면 복분자는 다음과 같은 특성을 가지고 있습니다.
>> ```
>> [식물 형태]
>> 5～6월에 꽃이 피며, 산방화서가 가지 끝에 달린다. 
>> 꽃받침잎은 난상 피침형이며 꽃잎은 꽃받침보다 짧고 도난형으로 연한 홍색이다. 꽃과 꽃받침잎, 자방에 털이 있다. 
>> 열매는 둥글고 7～8월에 적색으로 익지만 나중에는 흑색으로 된다.
>>
>> [재배환경]
>> 기후 : 복분자딸기는 장미과 식물로 줄기의 수(髓)가 60～90%를 차지하고 있어 겨울철에 가지가 동사와 건조사하는 경우가 많다. 
>> 겨울철 일교차가 심하면 낮 동안에는 상대습도가 낮아지면서 줄기의 상처부위를 통해서 수분이 수탈되여 건조해를 입을 수 있다.
>> 토양 : 뿌리는 지표 30㎝ 이내에 대부분 분포되어 있고, 염류에 약할 뿐만 아니라 습해에 잘 견디지 못하므로 재배적지는 지하수위가 낮고, 
>> 토심이 깊으며 물빠짐이 좋고, 공기의 유통이 잘되는 양토 및 사양토로서 유기물이 풍부한 토양이어야 한다. 
>> ```
>---
>---
>> #### ✍🏼 가설
>> 이에 따라 세워본 가설은 아래와 같습니다.
>>> 1️⃣
>>> 
>>> 겨울철(12~1월) 일교차에 따라 복분자 생산량이 감소할 것으로 예상되므로 품귀 현상이 발생해 가격이 상승할 것이다.
>>
>>> 2️⃣  
>>>
>>> 겨울이 지나고 3월부터 수확철인 8월까지의 지면 30cm 온도가 높을 수록 낮과 밤의 일교차로 인한 습도가 증가할 수 있으므로 과실의 품질이 떨어져 가격이 하락할 것이다.
>>
>>> 3️⃣
>>> 
>>> 2번과 동기간에 동일한 이유로 강수량이 증가하면 과실의 품질이 떨어져 가격이 하락할 것이다.
>>
>---
>---
>
>> #### 🚀 데이터 전처리
>> 본 프로젝트에 사용할 원본 데이터는 다음과 같습니다.
>>> 1. ☀️ [기상청 지상(종관, ASOS) 일자료 조회서비스](https://www.data.go.kr/tcs/dss/selectApiDataDetailView.do?publicDataPk=15059093)
>>>
>>> 2. 🍄 [한국임업진흥원_일일 임산물 도매시장가격](https://www.data.go.kr/data/15020663/fileData.do)
>>>
>>> ```
>>> ASOS 기상 데이터의 경우 전지역을 다루면 데이터의 양이 필요 이상으로 방대하고 정확도가 떨어질 수 있기 때문에
>>> 국내 복분자의 주요 생산 지역인 "고창", "정읍", "순창" 이상 세 지역의 기상 정보만을 활용합니다.
>>> ```
>>
>> 위 데이터에서 사용할 `column`은  다음과 같습니다.
>>> 1. ☀️ ASOS
>>>> `tm` : 일시
>>>>
>>>> `avgTa` : 평균 기온
>>>>
>>>> `maxTa` : 최대 기온
>>>>
>>>> `minTa` : 최소 기온
>>>>
>>>> `avgCm30Te` : 지면 30cm 온도
>>>>
>>>> `sumRn` : 일 강수량(mm)
>>>
>>> 2. 🍄 Forestry : 
>>>> `경락일` : 일시
>>>>
>>>> `도매시장` : 지역 구분
>>>>
>>>> `품목` : 품목 구분
>>>>
>>>> `세부품목` : 품목 세부 정보 조회
>>>>
>>>> `거래단량` : 판매량 계산
>>>>
>>>> `거래량` : 판매량 계산
>>>>
>>>> `규격` : 판매량 계산
>>>>
>>>> `등급` : 품질 정보 조회
>>>>
>>>> `가격` : 판매량 계산
>>>>

## 0. 💼 Before we start...

시작하기 전에 먼저 필요한 라이브러리들과 데이터를 불러오고 저장하기 용이하도록 구글 드라이브를 마운트하도록 하겠습니다.

In [ ]:
import pandas as pd
import numpy as np
import json
import requests
import pathlib
from tqdm import tqdm

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

임산물 가격 데이터를 `data.go.kr`에서 다운로드 받고 압축을 풀면 아래와 같은 구조를 가지고 있습니다.

> 📁 210405_월별_임산물_도매시장_가격정보_DB(2016_2021.03)
>> 📁 2016
>>> 201601.csv
>>>
>>> 201602.csv
>>>
>>> ...
>>>
>>> 201612.csv
>>>
>> ...
>>
>> 📁 2020
>> 
>> 📁 2021

따라서 이 데이터를 모두 다루는 방법으로 저는 `pathlib`과 `pandas` 데이터 프레임을 활용했습니다.

이를 위해 임산물 가격 데이터의 `root` 폴더 디렉토리를 `FORESTRY_DATA_PATH`로 지정해줬습니다.

In [ ]:
# 자신의 구글 드라이브 내의 임산물 가격 데이터 디렉토리 위치
FORESTRY_DATA_PATH = '/content/gdrive/MyDrive/Classroom/[데이터분석 이론 및 실습(01)-강윤희] 컴퓨터공학부-2022-1/22-1_텀프로젝트/210405_월별_임산물_도매시장_가격정보_DB(2016_2021.03)/'

##1. ☀️ ASOS 전처리

In [ ]:
def get_ASOS_df(
    stnIds:int,
    startDt:str,
    endDt:str,
    pageNo:int=1,
    numOfRows:int=500,
    dataType:str='JSON',
    dataCd:str='ASOS',
    dateCd:str='DAY',
    serviceKey='your key'
    ):
    """
    지역 ID와 측정 시작 및 종료 날짜를 받아 Pandas DataFrame을 반환합니다.
    
    :params
    stnIds: 관측 지역의 stnId(필수)
    startDt: 측정 시작 날짜(필수)
    endDt: 측정 종료 날짜(필수)
    pageNo: 페이지 번호(default=1)
    numOfRows: 페이지당 행(데이터) 개수(default=500, max=999)
    dataType: 요청 데이터 타입. 'JSON' 또는 'XML'(default='JSON')
    dataCd: 데이터 제공자(default='ASOS')
    dateCd: 데이터 분류(default='DAY')
    serviceKey: 공공데이터포털(data.go.kr)에서 발급받은 인증키
    """
    ASOS_datas = []
    while(True):
      
        API = f'http://apis.data.go.kr/1360000/AsosDalyInfoService/getWthrDataList?serviceKey={serviceKey}&numOfRows={numOfRows}&pageNo={pageNo}&dataType={dataType}&dataCd={dataCd}&dateCd={dateCd}&startDt={startDt}&endDt={endDt}&stnIds={stnIds}'
        json_data = requests.get(API).json()
        
        assert json_data['response']['header']['resultCode'] == '00', '잘못된 응답입니다. resultCode is NOT 00.'
    
        total_count = json_data['response']['body']['totalCount']
        ASOS_datas += json_data['response']['body']['items']['item']

        if total_count > (pageNo * numOfRows):
            pageNo += 1
        else:
            break
    
    return pd.DataFrame(ASOS_datas)

In [ ]:
"""
Parameters

stnIds : 복분자의 주요 생산지인 고창을 비롯해 주변 지역인 순창과 정읍의 stnId를 통해 세 지역의 기상 정보를 가져옵니다.
startDt, endDt : 임산물 가격 데이터가 2016~2021년 사이의 데이터이므로 2016년 1월 1일부터 2021년 12월 31일까지의 ASOS 기상 데이터를 수집합니다.
"""
stnIds = {
    '고창군': 251,
    '순창군': 254,
    '정읍': 245
}
startDt = '20160101'
endDt = '20211231'

In [ ]:
ASOS_df_dict = {}

for stnId in tqdm(stnIds, desc="기상 데이터를 가져오고 있습니다..🌱"):
    ASOS_df_dict[stnId] = get_ASOS_df(stnIds[stnId], startDt, endDt)

기상 데이터를 가져오고 있습니다..🌱: 100%|██████████| 3/3 [00:45<00:00, 15.17s/it]

In [ ]:
ASOS_df_dict['고창군'].columns

Index(['stnId', 'stnNm', 'tm', 'avgTa', 'minTa', 'minTaHrmt', 'maxTa',
       'maxTaHrmt', 'mi10MaxRn', 'mi10MaxRnHrmt', 'hr1MaxRn', 'hr1MaxRnHrmt',
       'sumRnDur', 'sumRn', 'maxInsWs', 'maxInsWsWd', 'maxInsWsHrmt', 'maxWs',
       'maxWsWd', 'maxWsHrmt', 'avgWs', 'hr24SumRws', 'maxWd', 'avgTd',
       'minRhm', 'minRhmHrmt', 'avgRhm', 'avgPv', 'avgPa', 'maxPs',
       'maxPsHrmt', 'minPs', 'minPsHrmt', 'avgPs', 'ssDur', 'sumSsHr',
       'hr1MaxIcsrHrmt', 'hr1MaxIcsr', 'sumGsr', 'ddMefs', 'ddMefsHrmt',
       'ddMes', 'ddMesHrmt', 'sumDpthFhsc', 'avgTca', 'avgLmac', 'avgTs',
       'minTg', 'avgCm5Te', 'avgCm10Te', 'avgCm20Te', 'avgCm30Te', 'avgM05Te',
       'avgM10Te', 'avgM15Te', 'avgM30Te', 'avgM50Te', 'sumLrgEv', 'sumSmlEv',
       'n99Rn', 'iscs', 'sumFogDur'],
      dtype='object')

> 이때 데이터로 활용하고자 하는 column은 `tm`, `avgTa`, `maxTa`, `minTa`, `avgCm30Te`, `sumRn` 5개 열이므로 세 지역의 데이터 프레임을 재구성합니다.

In [ ]:
target_columns = ['tm', 'avgTa', 'maxTa', 'minTa', 'avgCm30Te', 'sumRn']

for k in ASOS_df_dict.keys():
    ASOS_df_dict[k] = ASOS_df_dict[k][target_columns]

> 최종적인 ASOS 데이터는 다음과 같은 형태입니다.

In [ ]:
ASOS_df_dict['고창군'].tail()

              tm avgTa maxTa minTa avgCm30Te sumRn
2187  2021-12-27  -3.7   0.7  -9.9       4.5   0.0
2188  2021-12-28   2.3   6.0  -1.5       4.5
2189  2021-12-29   3.9   8.6   0.2       4.9   0.0
2190  2021-12-30   0.7   3.7  -1.8       5.2   0.8
2191  2021-12-31  -3.2  -0.9  -5.2       4.9   0.0

> 마지막으로 세 지역의 데이터를 csv 파일로 저장합니다.

In [ ]:
for k in ASOS_df_dict.keys():
    ASOS_df_dict[k].to_csv(f'ASOS_{k}_기상데이터.csv', encoding='cp949')
    # if you want to save these files to your google drive
    # then change the file path to target directory.
    # this code doesn't make csv file reusable.

Done✅

---

## 2. 🍄 임산물 데이터 전처리

> pathlib 라이브러리는 파일 구조의 탐색을 쉽게 해줍니다.
> 
> 아래와 같이 rglob 메소드를 사용해 임산물 가격 데이터 디렉토리 내의 모든 csv 파일의 경로를 읽어올 수 있습니다.

In [ ]:
FORESTRY_DATA_PATHs = list(pathlib.Path(FORESTRY_DATA_PATH).rglob('**/*.csv'))

for path in FORESTRY_DATA_PATHs[::12]:
    print(path)

/content/gdrive/MyDrive/Classroom/[데이터분석 이론 및 실습(01)-강윤희] 컴퓨터공학부-2022-1/22-1_텀프로젝트/210405_월별_임산물_도매시장_가격정보_DB(2016_2021.03)/2021/202101.csv
/content/gdrive/MyDrive/Classroom/[데이터분석 이론 및 실습(01)-강윤희] 컴퓨터공학부-2022-1/22-1_텀프로젝트/210405_월별_임산물_도매시장_가격정보_DB(2016_2021.03)/2018/201810.csv
/content/gdrive/MyDrive/Classroom/[데이터분석 이론 및 실습(01)-강윤희] 컴퓨터공학부-2022-1/22-1_텀프로젝트/210405_월별_임산물_도매시장_가격정보_DB(2016_2021.03)/2019/201910.csv
/content/gdrive/MyDrive/Classroom/[데이터분석 이론 및 실습(01)-강윤희] 컴퓨터공학부-2022-1/22-1_텀프로젝트/210405_월별_임산물_도매시장_가격정보_DB(2016_2021.03)/2020/202010.csv
/content/gdrive/MyDrive/Classroom/[데이터분석 이론 및 실습(01)-강윤희] 컴퓨터공학부-2022-1/22-1_텀프로젝트/210405_월별_임산물_도매시장_가격정보_DB(2016_2021.03)/2017/201710.csv
/content/gdrive/MyDrive/Classroom/[데이터분석 이론 및 실습(01)-강윤희] 컴퓨터공학부-2022-1/22-1_텀프로젝트/210405_월별_임산물_도매시장_가격정보_DB(2016_2021.03)/2016/201610.csv

> 경로의 순서가 뒤죽박죽이지만 데이터 프레임으로 구성한 후 정렬해도 좋을 것 같습니다.
> 
> 따라서, 디렉토리 내의 모든 파일을 하나의 데이터 프레임으로 읽어오겠습니다.

In [ ]:
Forestry_df = pd.read_csv(FORESTRY_DATA_PATHs[0], encoding='cp949')

for path in tqdm(FORESTRY_DATA_PATHs[1:], desc="임산물 가격 데이터를 가져오고 있습니다..🌱"):
  Forestry_df = pd.concat([Forestry_df, pd.read_csv(path, encoding='cp949')])

임산물 가격 데이터를 가져오고 있습니다..🌱:  82%|████████▏ | 51/62 [00:10<00:05,  2.00it/s]/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (3,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
임산물 가격 데이터를 가져오고 있습니다..🌱: 100%|██████████| 62/62 [00:15<00:00,  3.93it/s]

In [ ]:
Forestry_df.iloc[[0, -1]]

,경락일,공영도매시장코드,도매시장,품목코드,품목,세부품목코드,세부품목,거래량,거래단량,규격코드,규격,등급코드,등급,가격
0,20210102,380401,진주도매시장,1406,참나물,140601,참나물(일반),16,4.0,120100,kg 상자,11,특,10867
20608,20161231,370401,안동도매시장,702,대추,70202,건대추,108,10.0,120500,kg 그물망,10,없음,41663

> 위에서 확인할 수 있듯이 데이터 프레임의 순서가 경락일 순서로 정렬되지 않음을 알 수 있습니다.
>
> 따라서 먼저 경락일 기준으로 데이터 프레임을 정렬합니다.

In [ ]:
Forestry_df = Forestry_df.sort_values(by='경락일').reset_index(drop=True)

In [ ]:
Forestry_df.iloc[[0, -1]]

,경락일,공영도매시장코드,도매시장,품목코드,품목,세부품목코드,세부품목,거래량,거래단량,규격코드,규격,등급코드,등급,가격
0,20160102,350301,익산도매시장,1704,표고버섯,170499,기타,7,4.0,120100,kg 상자,1C,무농약,37000
2234726,20210331,380303,창원내서도매시장,1403,두릅,140305,참두릅,1,0.5,120100,kg 상자,13,보통,6000

> 다음으로 사용할 `column`으로 구성된 데이터 프레임을 구성합니다.

In [ ]:
target_columns = ['경락일', '도매시장', '품목', '세부품목', '거래단량', '거래량', '규격', '등급', '가격']

In [ ]:
Forestry_df = Forestry_df[target_columns]

In [ ]:
Forestry_df.head()

        경락일    도매시장    품목 세부품목  거래단량  거래량         규격   등급     가격
0  20160102  익산도매시장  표고버섯   기타   4.0    7     kg 상자   무농약  37000
1  20160102  부산엄궁도매  표고버섯  생표고   1.0    2  kg P-BOX    보통   4000
2  20160102  부산엄궁도매  표고버섯  생표고   0.1  240  kg P-BOX    보통    260
3  20160102  부산엄궁도매  표고버섯  생표고   0.1  190  kg P-BOX    보통    460
4  20160102  부산엄궁도매  표고버섯  생표고   0.1  179  kg P-BOX    보통    280

> 본 프로젝트에서 사용하고자 하는 데이터는 복분자에 관련된 데이터이므로 품목이 복분자인 데이터만 선택해 데이터 프레임을 생성합니다.
>
>> 생산지에서 생산된 복분자는 비단 전라북도 지역뿐만 아니라 전국적으로 거래될 것이라고 판단하므로 도매시장을 필터링할 필요는 없다고 생각했습니다.

In [ ]:
korean_black_raspberry_df = Forestry_df[Forestry_df['품목']=="복분자"]

In [ ]:
korean_black_raspberry_df.head()

             경락일    도매시장   품목     세부품목  거래단량  거래량     규격 등급     가격
552457  20160426  부산반여도매  복분자  복분자(일반)   1.0    1  kg     특  10000
560385  20160427  부산반여도매  복분자  복분자(일반)   1.0    1  kg     특   9000
573904  20160429  부산반여도매  복분자  복분자(일반)   1.0    3  kg     특  10200
590930  20160502  부산반여도매  복분자  복분자(일반)   1.0   10  kg     특  11500
603463  20160504  부산반여도매  복분자  복분자(일반)   1.0   10  kg     특  11700

> `규격`의 경우 추후 계산을 위해 동일한 문자열로 구성되어있는지 확인할 필요가 있습니다.

In [ ]:
korean_black_raspberry_df['규격'].unique()

array(['kg   ', 'kg 상자 ', 'kg 개 ', 'kg 접시용기 트레이 ', 'kg 상자 1개',
       'kg P-BOX ', 'kg   1개', 'g P-BOX ', 'kg 상자 11개', 'kg 그물망 ',
       'kg PE대 ', 'g 단 ', 'kg 파렛트 ', 'kg 상자 50내'], dtype=object)

> 하지만 이처럼 다양한 규격 표기법이 있음을 발견할 수 있습니다.
>
> 잘 살펴보면 kg이 포함된 문자열 또는 g이 포함된 문자열로 구성되어 있음을 알 수 있습니다.
> 
> 따라서 kg을 포함한 문자열이라면 kg으로 변환해주고 아니라면 g으로 변환해줍니다.

In [ ]:
new_standard_representations = ['kg' if 'kg' in rep else 'g' for rep in korean_black_raspberry_df['규격']]
korean_black_raspberry_df.loc[:, '규격'] = new_standard_representations

In [ ]:
korean_black_raspberry_df['규격'].unique()

array(['kg', 'g'], dtype=object)

In [ ]:
korean_black_raspberry_df.head()

             경락일    도매시장   품목     세부품목  거래단량  거래량  규격 등급     가격
552457  20160426  부산반여도매  복분자  복분자(일반)   1.0    1  kg  특  10000
560385  20160427  부산반여도매  복분자  복분자(일반)   1.0    1  kg  특   9000
573904  20160429  부산반여도매  복분자  복분자(일반)   1.0    3  kg  특  10200
590930  20160502  부산반여도매  복분자  복분자(일반)   1.0   10  kg  특  11500
603463  20160504  부산반여도매  복분자  복분자(일반)   1.0   10  kg  특  11700

> 복분자만 가져와 인덱스가 섞였으므로 인덱스를 초기화시켜줍니다.

In [ ]:
korean_black_raspberry_df = korean_black_raspberry_df.reset_index(drop=True)

In [ ]:
korean_black_raspberry_df.head()

        경락일    도매시장   품목     세부품목  거래단량  거래량  규격 등급     가격
0  20160426  부산반여도매  복분자  복분자(일반)   1.0    1  kg  특  10000
1  20160427  부산반여도매  복분자  복분자(일반)   1.0    1  kg  특   9000
2  20160429  부산반여도매  복분자  복분자(일반)   1.0    3  kg  특  10200
3  20160502  부산반여도매  복분자  복분자(일반)   1.0   10  kg  특  11500
4  20160504  부산반여도매  복분자  복분자(일반)   1.0   10  kg  특  11700

> 마지막으로 만들어진 복분자 데이터 프레임을 csv로 저장합니다.

In [ ]:
korean_black_raspberry_df.to_csv('복분자_가격_데이터.csv', encoding='cp949')

## 이상으로 전처리 과정을 마쳤습니다!
> [데이터 분석 노트북](https://colab.research.google.com/drive/1yp1nZzreOTXOF0Rf5oVQhH89Ut6crOTw?usp=sharing)으로 이어집니다.
>
> 소중한 시간 내어주셔서 감사합니다.😄